.anarchist-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  opacity: 1;
  transition: opacity 2s;
  pointer-events: none;

  &.above-ui {
    z-index: 200;
  }
  &.fade-out {
    opacity: 0;
  }
  &.block-interactions {
    pointer-events: auto;
  }
}

