.anarchist-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  opacity: 1;
  transition: opacity 2s;
  &.under-ui {
    z-index: 100;
  }

  &.above-ui {
    z-index: 200;
  }
}

